* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.navbar a {
    text-decoration: none;
    color: #555;
}

.btn {
    padding: 8px 18px;
    background: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background: #fff5dc;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-text p {
    color: #666;
    margin-bottom: 25px;
}

.email-box {
    display: flex;
    margin-bottom: 30px;
}

.email-box input {
    padding: 12px;
    width: 250px;
    border: none;
    outline: none;
}

.email-box button {
    padding: 12px 20px;
    background: black;
    color: white;
    border: none;
}

.stats {
    display: flex;
    gap: 30px;
}

.stats div span {
    display: block;
    font-size: 14px;
    color: #555;
}

.hero-img img {
    width: 400px;
    padding: 40px;
}

.features {
    text-align: center;
    padding: 70px 20px;
}

.features h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.card {
    width: 260px;
    padding: 25px;
    border-radius: 14px;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    margin-bottom: 15px;
}

.card a {
    text-decoration: none;
    font-weight: bold;
}

.brands {
    background: #eef1f7;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    font-weight: 600;
    color: #999;
}

.purple { background: #eef1ff; }
.yellow { background: #fff4cc; }
.pink   { background: #ffe6ec; }
